* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-picture {
    background-color: red;
    height: 100vh;
    width: 40%;
}

.right-form {
    background-color: blue;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-title, .form-main, .form-footer {
    height: 60%;
}

.form-main {
    background-color: yellow;
}